* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgb(63, 125, 241);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: purple;
}

img {
    height: 400px;
    width: auto;
    border-radius: 5px;
}